#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.ant-table-pagination-right {
  margin-right: 15px !important;
}

.ant-tabs-content-left {
  height: 100%;
}

.ant-tabs-nav-more {
  display: none;
}

.ant-spin-text {
  margin-top: 8px;
}

.ant-card-grid-hoverable:hover {
  position: relative;
  z-index: 1;
  box-shadow: 1px 0 0 0 #f0f0f0, 0 1px 0 0 #f0f0f0, 1px 1px 0 0 #f0f0f0,
    1px 0 0 0 #f0f0f0 inset, 0 1px 0 0 #f0f0f0 inset;
}

@media (hover: hover) {
  .ant-card-grid-hoverable:hover {
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.11),
      0 3px 6px 0 rgba(0, 0, 0, 0.07), 0 5px 12px 4px rgba(0, 0, 0, 0.05);
  }
}
