.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.w-full {
  width: 100%;
}

.w-min-100 {
  min-width: 100px;
}

.h-full {
  height: 100%;
}

.h-min-60vh {
  min-height: 60vh;
}

.mx-auto {
  margin: 0 auto;
}

.mx-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.my-auto {
  margin-right: auto;
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.m-auto {
  margin: auto;
}

.m-3 {
  margin: 3px;
}

.m-10 {
  margin: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.m-submit-button {
  margin: 10px 15px 20px 15px;
}

.p-15 {
  padding: 15px;
}

.p-16 {
  padding: 15px;
}

.p-25 {
  padding: 25px;
}

.py-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.px-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.p-orders-button {
  padding: 4px 10px;
}

.rounded {
  border-radius: 5px;
}

.rounded-xl {
  border-radius: 50%;
}

.rounded-card {
  border-radius: 10px;
  border: 1px solid rgba(50, 50, 50, 0.1);
  overflow: hidden;
}

.border-top {
  border-top: 1px solid rgba(155, 155, 155, 0.1);
}
